.navbar {
  display: flex;
  justify-content: space-around;
  margin-bottom: 2rem;
}

.logoNTitle {
  display: flex;
  align-items: flex-end;
  margin-bottom: 1rem;
}

.logo {
  font-size: 5rem;
}

.title {
  font-size: 2.5rem;
  font-weight: bold;
}
